<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@700&family=Bowlby+One+SC&family=Bungee+Inline&family=Monoton&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/burger_style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
	{{!-- <script src="/assets/js/cats.js"></script> --}}
</head>

<body>
	{{{ body }}}
</body>

</html>