<body>
    <div class="container">
        <div class="navbar navbar-expand-lg justify-content-center">
            <h1 class="display-4 head">
                EAT DA BURGER
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            <img src="/assets/burger.png" class="img-fluid rounded burgerimg" alt="...">
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h2>DEVOUR A BURGER</h2>
                <ul class="list-group burgersLeft">
                    {{#each burgers}}
                    {{#unless devoured}}

                    <li class="list-group-item">
                        {{burger_name}} <button data-id="{{id}}" class="btn devour bg-success">Devour Me!</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-4 text-center">
                <h2>ADD A BURGER</h2>
                <form id="create-form" class="text-center" onsubmit="burgerPost();">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="newBurger" placeholder="delicious burger name"
                            name="burger_name">
                        <button class="btn addBurger bg-success" type="submit" value="submit" id="button-addon2">ADD
                            BURGER</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 text-center">
                <h2>DEVOURED BURGERS</h2>
                <ul class="list-group burgersLeft">
                    {{#each burgers}}
                    {{#if devoured}}

                    <li class="list-group-item">
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <script src="/assets/js/script.js"></script>

</body>